body{
    background-image: url('../image/wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 15%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    color: black;
    font-weight: bold;
    background-color: rgba(223, 160, 45, 0.5);
    text-align: center;
    width: 130px;
    font-size: 100px;
    padding: 10px;
    border: 5px solid rgba(230, 153, 140,0.2);
    margin: 50px 20px;
    border-radius: 10px;
}
.btn{
    width: 75px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px ;
    background-color: tomato;
    border: 0px;
}